@charset "UTF-8";
.myskills.slideanim .skill-info h96 {
}
.myskills.slideanim .skill-info h96 {
	color: #C7EAD5;
	text-shadow: 3px 1px #333333;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: xx-large;
}
.col-md-8.col-xs-12 .myskills.slideanim h96 {
	color: #C8ECC8;
	font-size: xx-large;
	text-shadow: 2px 2px #242424;
}
